#search {
    height: 40px;
    width: 170px;

    border: 1px solid blue;
    float: left;
    display: inline;
}

.logo{
    width: 220px;
    height: 60px;
    overflow: visible;

    text-align: center;
    display: inline-block;
    letter-spacing: 2px;
    float: left;
}

#bttn {
    height: 40px;
    width: 80px;
    float: left;
    display: inline-block;

}

/*
#navbar>#bttn{
width: 200px;
}
*/

#navbar {
    margin: 0px;
    padding: 10px 2px;
    height: 60px;
    /*    width: 220px;*/
    float:left;
    display: inline-block;
}

#navbar>ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 60px;
    display: inline-block;
    text-align: center;
}

#navbar>ul>li {

    /*
    1. make sure this element always floats to the left
    2. set the height to 60px
    3. make sure all the overlapping elements gets hidden when overlapped
    4. make sure all the texts aligns to the  center of this element
    */
    width: 160px;

    float: left;
    height: 60px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

#navbar>ul>li>a {
    text-decoration: none;
    /*    color: white;*/
    display:inline-block;


    /*    1. set the minimum width to 100px and maximum width to 180px*/

    height:30px;
    min-width: 100px;
    max-width: 180px;

    padding: 10px 5px;
}

#navbar>ul>li>a.active {
    color:rgb(255, 71, 26);
    border-bottom: 1px solid rgb(255, 71, 26);
}


#navbar>ul>li>a:not(.active):hover {

    /*
    1. set the color to rgb(255, 71, 26)
    2. set the bottom-border as 1px solid and it's color will be rgb(255,71,26)
    */

    color: rgb(255, 71, 26);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 71, 26);
}

body>div:nth-child(1){
    margin:0px;
    padding: 10px 0px;
    height: 60px;
    width: 100%;

    /*
    1. fix the element position so that it doesn't get scrolled with the page
    2. set the top value to 0
    3. set the z-index value to 1
    4. set the background color to rgba(0,0,0,0.4)
    */

    position: sticky;
    top: 0;
    z-index: 1;
    /*    background-color: rgba(0,0,0,0.4);*/
}

/*body {font-family: Arial, Helvetica, sans-serif;}*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/*POST PAGE CSS*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/*
input[type=textarea] {
  width: 100%;
    
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
*/


/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

#urev{
    border: 1px solid black;
  background: ;
  color: black;
  padding: 10px;
  width: 600px;
  height: 150px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  color: black;
    
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
    color: white;
    
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/*SELECT OPTION CSS*/

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

/*
.select-selected {
  background-color: DodgerBlue;
}
*/

/*style the arrow inside the select element:*/
/*
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
*/

/*point the arrow upwards when the select box is open (active):*/
/*
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
*/

/*style the items (options), including the selected item:*/
/*
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
*/

/*style items (options):*/
/*
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
*/

/*hide the items when the select box is closed:*/
/*
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
*/

#soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

